In [50]:
%pip install pymorphy2
%pip install pandas
%pip install seaborn
%pip install nltk

Requirement already satisfied: pymorphy2 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (0.9.1)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: dawg-python>=0.7.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pymorphy2) (0.7.2)
Requirement already satisfied: docopt>=0.6 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pymorphy2) (0.6.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.0 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (0.12.1)
Requirement already satisfied: numpy>=1.17 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (3.6.2)
Requirement already satisfied: pandas>=0.25 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: nltk in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from nltk) (1.1.1)
Requirement already satisfied: click in /Users/sna/opt/anaconda3/lib/python3.9/site-packages (from nltk) (8.0.4)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.display.max_colwidth = 150


#import math as mth
#import matplotlib.pyplot as plt
#from scipy import stats as st
#from statsmodels.stats.weightstats import ttest_ind
#from scipy.stats import ttest_ind_from_stats

import numpy as np
import seaborn as sns; sns.set()
cm = sns.light_palette("green", as_cmap=True)

import nltk
import pymorphy2
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('punkt')
#import os

[nltk_data] Downloading package punkt to /Users/sna/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [52]:
data = pd.read_csv('/Users/sna/Dropbox/git/banks/datasets/banks.csv', sep='\t', on_bad_lines='skip')
'''
path = os.path.join('/' + os.sep, 'Users', 'sna', 'Dropbox', 'git', 'banks', 'datasets', 'banks.csv')
data = pd.read_csv(path, sep='\t')
'''
#data = pd.read_csv('/sna/Dropbox/git/banks/datasets/banks.csv')

#path = './datasets/banks.csv'

'''
ROOT = os.path.abspath("/Users/sna/Dropbox/git/banks/datasets/")
directories = os.listdir(ROOT)
for dir in directories:
    print(dir)
'''

'\nROOT = os.path.abspath("/Users/sna/Dropbox/git/banks/datasets/")\ndirectories = os.listdir(ROOT)\nfor dir in directories:\n    print(dir)\n'

In [53]:
list_df = (data,)
for list_df in list_df:
    print('\033[31m' + '______________info_____________________' + '\033[0m')
    display(list_df.info())
    print('\033[31m' + '______________describe_________________' + '\033[0m')
    display(list_df.describe().T)
    print('\033[31m' + '______________head_____________________' + '\033[0m')
    display(list_df.head(10))
    print('\033[31m' + '______________sample___________________' + '\033[0m')
    display(list_df.sample(10))
    print('\033[31m' + '______________tail_____________________' + '\033[0m')
    display(list_df.tail(10))
    print('\033[31m' + '_____________isna______________________' + '\033[0m')
    display(list_df.isna().sum().reset_index())
    print('\033[31m' + '_____________duplicated________________' + '\033[0m')
    display(list_df.duplicated().sum())
    print('\033[31m' + '__количество пропущенных значений по каждому из столбцов__' + '\033[0m')
    display(list_df.isnull().mean().reset_index())

______________info_____________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13999 entries, 0 to 13998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   idx     13999 non-null  int64
 1   Score   13999 non-null  object
 2   Text    13999 non-null  object
dtypes: int64(1), object(2)
memory usage: 328.2+ KB

None

______________describe_________________

       count    mean          std  min     25%     50%      75%      max
idx  13999.0  6999.0  4041.307544  0.0  3499.5  6999.0  10498.5  13998.0

______________head_____________________

,idx,Score,Text
0,0,Positive,"В Альфа-Банке работает замечательная девушка - Ильясова Орна, вежливая, отзывчивая, действительно участвует в запросе клиента, я приходила к ней п..."
1,1,Negative,"Оформляя рассрочку в м. Видео в меге тёплый стан. Попросила менеджера, чтобы заявка была без страховки. В итоге, когда подписывала договор, в дого..."
2,2,Positive,"Очень порадовала оперативность работы в банке. Заказал через интернет карту visa classic, потребовалось подойти в банк для подписания заявления. В..."
3,3,Negative,"Имела неосторожность оформить потреб. кредит в Альфа-банке - очень жалею. Во-первых, карту при оформлении кредита мне не выдали (объяснили тем, чт..."
4,4,Negative,"Небольшая предыстория: Нашел на сайте MDM банка интересную ко-бренд карту «Техносила – MDM банк», подал заявку на нее, и скоро позвонили с горячей..."
5,5,Positive,"В конце февраля оформила кредитную карту банка Авангард в качестве страховки, на всякий непредвиденный случай, и уже тогда была удивлена скоростны..."
6,6,Negative,"Месяц назад взял автокредит. До этого ходили по разным салонам Форд, присматривая машину. Исходил из конкретной суммы автомобиля и конкретного пер..."
7,7,Negative,"Не говоря про махинации с бонусами, остановлюсь на процентах по среднемесячному остатку средств на карте. Пару месяцев, усыпляя бдительность, начи..."
8,8,Negative,"День добрый, моя мама С-на В.А.,1932г рождения, пенсионерка. Является клиентом Бинбанка. С октября 2015 года не может снять свою пенсию с карты, т..."
9,9,Negative,"Всех приветствую.Я являюсь клиентом этого чудо-банка. Договор 04101473481, брал в кредит автомобиль с сентября 2015 года.При заключении договора к..."

______________sample___________________

,idx,Score,Text
6225,6225,Positive,"Добрый день!Ситуация следующая: произошла смена директора, начались проволочки по смене в самом банке - этот документ не тот, в решении не та дата..."
13902,13902,Positive,"Обращаюсь в Банк Ренессанс Кредит не первый раз. В основном были потребительские кредиты в магазинах.Очень рад видеть, что со временем обслуживани..."
8694,8694,Negative,"Забыл в пятницу кинуть денег на кредитную карту, т.е. ежемесячный платеж. В субботу утром проснулся, смотрю - на телефоне больше десятка пропущенн..."
6991,6991,Positive,Здравствуйте... а я хочу похвалить работников банка Хоум кредит. Особенно хочу выразить благодарность Светлане Вельможиной директора департамента ...
12872,12872,Negative,Решил на свою голову воспользоваться услугами данного банка. И за 3 месяца пользования их так называемыми услугами - ничего кроме геморроя не прио...
13355,13355,Positive,"Есть у меня карта зарплатная СБРФ. Через некоторое время после пользования данной картой предложили кредитную, с неплохими условиями, немного поду..."
1512,1512,Negative,"Далеко не в первый раз сталкиваюсь с кредитами, да и по работе с банками приходится общаться, но ТАКОГО еще не встречала. Некомпетентность (я узна..."
8276,8276,Negative,"Являюсь клиенткой старого МДМ Банка... как и многие тут пишут... теперь, увы, нового. Сервис упал просто до ужаса. У меня КК банка с 2008 года. Пл..."
9597,9597,Negative,"23 декабря 2014 года из Альфа-Банка пришло письмо о том, что я оформила кредит и не оплачиваю его. Я никогда не оформляла кредит в Альфа-Банке и н..."
4153,4153,Negative,"Пользуюсь 3 месяц картой БинБанка с Кэш Бэком и в целом положительно. БУДЬТЕ ВНИМАТЕЛЬНЫ! В договоре на получение карты, на первой странице, если ..."

______________tail_____________________

,idx,Score,Text
13989,13989,Negative,В марте этого года мною через сайт Банка была оформлена заявка на кредитную карту (КК). Выпуск карты был одобрен. Через некоторое время пришла смс...
13990,13990,Positive,"Брала в ноябре ипотеку в Абсолют Банке. Хочу выразить благодарность моему кредитному менеджеру из отдела новостроек Новиковой Наталье и менеджеру,..."
13991,13991,Negative,"А все остальное так и осталось. Началось все конечно смешно, сотрудник, принимавший от меня заявку на кредит, стал по сути соучастником единственн..."
13992,13992,Negative,Приветствую Всех!Рассказываю о сложившейся ситуации с LiqPay.Ровно 21 день назад совершил покупку и отправил платеж получателю через liqpay. Обычн...
13993,13993,Positive,Здравствуйте! Мое знакомство с Хоум Кредит Банком только начинается. И уже на начальном этапе складывается очень хорошее впечатление об этом банк...
13994,13994,Positive,"О высокой надёжности МКБ, порядочности и добросовестности его сотрудников. Кратко: 19.6.12 г., открывая счёт, я, по рассеянности внёс в кассу сумм..."
13995,13995,Positive,"Обслуживаюсь в офисе на Чернореченской 42а, как физ. лицо уже год. В офисе на самом деле никогда нет очереди, всегда есть свободный сотрудник, кот..."
13996,13996,Positive,"Попала сегодня в очень неприятную ситуацию. Решила погасить долг по карте. Пришла в банкомат (пр. Дзержинского, 1/4/). Банкомат деньги принял, выд..."
13997,13997,Positive,Добрый день! Давно являюсь клиентом банка Русский Стандарт имею зарплатную карту. 7 октября обратилась в отделение на свободном проспекте возле ст...
13998,13998,Negative,"Сначала было все банально. Взял в кредит mp3 плеер на 6 мес. Всегда платил заранее до наступления срока платежа и, причем несколько больше, чем бы..."

_____________isna______________________

   index  0
0    idx  0
1  Score  0
2   Text  0

_____________duplicated________________

0

__количество пропущенных значений по каждому из столбцов__

   index    0
0    idx  0.0
1  Score  0.0
2   Text  0.0

Переведем `Score` в нижний регистр

In [54]:
data['Text'] = data['Text'].str.lower()

In [55]:
data['Text']=data['Text'].apply(str)

Определим количество негативных и позитивных оценок

In [56]:
count_score= data.groupby(['Score']).agg({'idx':'count'})\
                                    .sort_values(ascending=False, by='Score').reset_index()
count_score.columns = ['Оценка', 'Количество']
count_score

     Оценка  Количество
0  Positive        7000
1  Negative        6999

Выберем текст 100 оценок для токенизации

In [57]:
text = data.iloc[0:99]['Text']

In [58]:
text.head()

0    в альфа-банке работает замечательная девушка - ильясова орна, вежливая, отзывчивая, действительно участвует в запросе клиента, я приходила к ней п...
1    оформляя рассрочку в м. видео в меге тёплый стан. попросила менеджера, чтобы заявка была без страховки. в итоге, когда подписывала договор, в дого...
2    очень порадовала оперативность работы в банке. заказал через интернет карту visa classic, потребовалось подойти в банк для подписания заявления. в...
3    имела неосторожность оформить потреб. кредит в альфа-банке - очень жалею. во-первых, карту при оформлении кредита мне не выдали (объяснили тем, чт...
4    небольшая предыстория: нашел на сайте mdm банка интересную ко-бренд карту «техносила – mdm банк», подал заявку на нее, и скоро позвонили с горячей...
Name: Text, dtype: object

In [59]:
text

0     в альфа-банке работает замечательная девушка - ильясова орна, вежливая, отзывчивая, действительно участвует в запросе клиента, я приходила к ней п...
1     оформляя рассрочку в м. видео в меге тёплый стан. попросила менеджера, чтобы заявка была без страховки. в итоге, когда подписывала договор, в дого...
2     очень порадовала оперативность работы в банке. заказал через интернет карту visa classic, потребовалось подойти в банк для подписания заявления. в...
3     имела неосторожность оформить потреб. кредит в альфа-банке - очень жалею. во-первых, карту при оформлении кредита мне не выдали (объяснили тем, чт...
4     небольшая предыстория: нашел на сайте mdm банка интересную ко-бренд карту «техносила – mdm банк», подал заявку на нее, и скоро позвонили с горячей...
                                                                              ...
94    я клиент банка. регулярно слышу рекламу альфа-банка о погашении кредитов через интернет. обычно погашаю кредит наличными, сегодня решил из личного...
95    17.10.2007 г., в офисе банка по адресу: владивосток, ул. фокина 19, операционист-кассир планида а.в, по приходному кассовому ордеру № 15, приняла ...
96    у меня получилась слегка нестандартная ситуация со сбербанком, которая была-таки успешно решена! я сторонник фонда дикой природы, обычно оплачиваю...
97    могу сказать, что скб-банк один из самых лояльных банков по требованиям к заемщикам с учетом невысоких процентных ставок по кредитам. кредитуюсь в...
98    добрый день! в декабре 2013 г. взяли автокредит в сетелем банке в санкт-петербурге. сначала было все хорошо: быстро одобрили, быстро оформили, опл...
Name: Text, Length: 99, dtype: object

In [64]:
tokens = text.astype(str).apply(word_tokenize)

In [65]:
#tokens = word_tokenize(text)

Удалим знаки препинания

In [66]:
punctuation_marks = ['!', ',', '(', ')', ':', '-', '?', '.', '..', '...']

In [67]:
only_words = []
for token in tokens:
    if token not in punctuation_marks:
        only_words.append(token)